@charset "UTF-8";

:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  .middle {
    scrollbar-width: auto;
    scrollbar-color: rgb(192, 192, 192) transparent;
  }

  /* Chrome, Edge, and Safari */
  .middle::-webkit-scrollbar {
    width: 8px;
  }

  .middle::-webkit-scrollbar-track {
    background: transparent;
  }

  .middle::-webkit-scrollbar-thumb {
    background-color: rgb(192, 192, 192);
    border-radius: 10px;
    
  }

html, body {
  width: 100vw;
  height: 100vh;
}

body {
  font-size: 1.6rem;

  position: relative;
  --gray-color: rgba(131, 128, 130, 0.664);
}

.modal_background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: rgba(150, 150, 150, 0.4);
  backdrop-filter: blur(1rem);
  -webkit-backdrop-filter: blur(1rem);

  display: grid;
  place-content: center;
}

.modal_wrapper {
  background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgb(131, 128, 130) 100%);
  border-radius: 2rem;

  max-width: 1000px;
  height: 60rem;
  display: flex;
}

.left_container {
  border-right: .1rem solid rgba(131, 128, 130, 0.397);
  padding: 2rem;

  display: flex;
  align-content: center;
  flex-wrap: wrap;
}

.left_container img{
  width: 40rem;
}

.right_container {
  padding: 2rem;
}

.modal_wrapper .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.6rem;
}

.right_container .middle {
  display: grid;
  gap: 1.6rem;
  height: calc(100% - 6.3rem);
  padding-right: .8rem;
  overflow-y: auto;
}

.table_wrapper {
  display: grid;
  gap: 1.6rem;
}

th, .stars_rank, td:has(img){
  text-align: center;
}

td:has(img) img {
  width: 1.8rem;
}

.stars_rank > i {
  color: #f5ff67;
}

th, td {
  border: .1rem solid rgba(131, 128, 130, 0.397);
  border-radius: .5rem;
  padding: .5rem;
}