@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
    font-family: monster-hunter;
    src: url(../fonte/monsterhunter.ttf) format('truetype');
}

/*
    cores
    bg01: #FDEDCC;
    bg02: #BF9B7A;
    highlight: #E5532A;
    letter: #F2BB16;
    green: #93ff47;
    green_highlight: #88d452;
*/

:root {
    --cor_bg01: #FDEDCC;
    --cor_bg02: #BF9B7A;
    --cor_highlight: #E5532A;
    --cor_letter: #F2BB16;
    --cor_green: #adff73;
    /*--cor_green: #93ff47;*/
    --cor_green_highlight: #93ff47;
    --cor_green-shadow: #98ee5a57;
    /*--cor_green_highlight: #88d452;*/
    --fonte_mhw: 'Gelasio', serif;
    --fonte_regular: 'Istok Web', sans-serif;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style-type: none;
    font-family: var(--fonte_regular);
}

html, body {
    width: 100%;
    height: 100%;
    
    min-height: 500px;
    min-width: 390px;
}

body {
    background: var(--cor_bg01) url('../images/paper-texture.jpg') center center no-repeat fixed;
    background-size: cover;
}

/* configurações header -------------------------------------------------------------------------- */

header {
    background:var(--cor_green_highlight) url(../images/mhw-vanilla-bg.jpg) no-repeat top center;
    background-size: cover;
    display: block;
    height: 850px;
}

#gradient {
    background-image: linear-gradient(to top, #94ff4728 5%, transparent);
    height: 850px;
    position: relative;
}

#title_container {
    display: block;
    position: absolute;
    top: 60%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    text-align: center;
}

#title {
    font-family: monster-hunter;
    text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000, 1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
    color: white;
    font-weight: 700;
    font-size: 3em;
}

/* ----------------------------------------------------------------------------------------------- */

/* Configurações Main ---------------------------------------------------------------------------- */

main {
    margin-top: 40px;
}

.container {
    max-width: 70vw;
    margin: auto;
    /*overflow: hidden;*/
}

.top {
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid var(--cor_bg02);
    padding: 10px;
}

.top span {
    display: none;
}

div#search_container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor_bg01);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.247);
    border-radius: 50px;
    /*margin-right: 90px;*/
    height: 40px;
    width: 300px;
    overflow: hidden;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 600, 'GRAD' 0, 'opsz' 48;
  display: block;
}

form > label {
    display: none;
}

form > div#search_container > input[type=search] {
    background-color: var(--cor_bg01);
    border: none;
    margin-left: 15px;
    height: 100%;
    width: 240px;
}

/* remove o x da barra de pesquisa */
input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }

input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
/* ------------------------------------------------------------ */

form > div#search_container > input[type=search]:focus-within {
    outline: none;
    border: none;
}

.area_all {
    display: flex;
    /*background-color: #93ff47;*/
    
}

.left-container {
    display: block;
    width: 28%;
    padding-top: 50px;
    border-right: 1px solid #bf9b7aa2;
}

.category_buttons {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    border: none;
    background-color: transparent;
    width: 100%;
    height: 50px;
    padding: 5px;
    cursor: pointer;
    transition: transform .1s, box-shadow .1s, border .1s;
}

.category_buttons:hover {
    transform: translate(-5px, 0px);
    box-shadow: 2px 5px 2px 1px var(--cor_green-shadow);
    border-top: 2px solid var(--cor_green);
    border-bottom: 2.5px solid var(--cor_green);
}

.category_buttons:focus-within {
    transform: translate(-5px, 0px);
    box-shadow: 2px 5px 2px 1px var(--cor_green-shadow);
    border-top: 2px solid var(--cor_green);
    border-bottom: 2.5px solid var(--cor_green);
}

.category_buttons > span {
    font-family: var(--fonte_mhw);
    font-size: 1.5em;
    font-weight: 700;
}

/* Start button style ------------------------------------------------------------------------------ */

.right-container {
    width: 80vw;
    padding-top: 50px;
    padding-left: 100px;
}

.all {
    text-align: center;
}

button.card-monster {
    background: var(--cor_bg01) url('../images/paper-texture.jpg') top center no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.247);
    border: none;
    border-radius: 7%;
    overflow: hidden;
    /*width: 270px;*/
    height: 300px;
    width: 27%;
    margin: 20px;
    padding: 20px;
    cursor: pointer;
    transition: transform .1s, box-shadow .1s, border .1s;
    display: none;
}
/*
button.card-monster:nth-child(1),
button.card-monster:nth-child(2),
button.card-monster:nth-child(3),
button.card-monster:nth-child(4),
button.card-monster:nth-child(5),
button.card-monster:nth-child(6),
button.card-monster:nth-child(7),
button.card-monster:nth-child(8),
button.card-monster:nth-child(9) {
    display: inline-block;
}
*/
div.image {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-top: 30px;
}

div.image img {
    height: 150px;
}

div.monster-name {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-end;
    align-items: center;
    height: calc(100% - 180px);
}

div.monster-name .icon > img {
    width: 38px;
}

div.monster-name div strong {
    font-family: var(--fonte_mhw);
    font-weight: bolder;
    font-size: 1.5em;

}

button.card-monster:hover {
    transform: translate(0px, -2px);
    box-shadow: 0px 5px 30px 10px var(--cor_green_highlight), inset 0px 0px 20px 5px var(--cor_green-shadow);
    /*border: 3px solid var(--cor_green);*/
}

#load_cont {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

button#load-more {
    display: block;
    background: var(--cor_bg01) url('../images/paper-texture.jpg') no-repeat center center fixed;
    padding: 10px;
    border: none;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.247);
    font-family: var(--fonte_mhw);
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
}

button#load-more:hover {
    transform: translate(0px, -1px);
    box-shadow: 0px 1px 10px 5px var(--cor_green_highlight);
}

/* End Button Style -------------------------------------------------------------------------*/

footer {
    background-color: white;
    margin-top: 100px;
    height: 50px;
    text-align: center;
}