@charset "UTF-8";

/* Todas as demais mídias */

/* Typical Device Breakpoints 
-------------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
TV: acima de 1200px
*/

:root {
    --cor_bg01: #FDEDCC;
    --cor_bg02: #BF9B7A;
    --cor_highlight: #E5532A;
    --cor_letter: #F2BB16;
    --cor_green: #adff73;
    /*--cor_green: #93ff47;*/
    --cor_green_highlight: #93ff47;
    --cor_green-shadow: #98ee5a57;
    /*--cor_green_highlight: #88d452;*/
    --fonte_mhw: 'Gelasio', serif;
    --fonte_regular: 'Istok Web', sans-serif;
}

@media screen and (max-width: 1594px) and (min-width: 1335px) {
    header {
        height: 600px;
        background-position: center center;
    }

    #gradient {
        height: 600px;
    }

    main > .container {
        max-width: 85vw;
    }

    button.card-monster {
        height: 260px;
        width: 25%;
    }

    div.image {
        margin-bottom: 40px;
    }

    div.image img{
        height: 100px;
    }

    div.monster-name div strong {
        font-size: 1.35em;
    }

    div.monster-name .icon > img {
        width: 30px;
    }
}

@media screen and (max-width: 1335px) and (min-width: 795px){
    header, #gradient {
        height: 500px;
    }

    .title_container img {
        width: 550px;
    }

    .container {
        max-width: none;
        width: 100%;
    }

    .top {
        justify-content: space-between;
        align-items: center;
        padding: 15px;
    }

    .top span {
        display: block;
        cursor: pointer;
    }

    .left-container {
        display: none;
        position: absolute;
        background: var(--cor_bg01) url('../imagens/paper-texture.jpg') no-repeat center center;
        width: 20%;
        height: 1080px;
        padding-left: 10px;
        border-right: 2px solid var(--cor_bg02);
    }

    .category_buttons > span {
        font-size: 1.35em;
    }

    .area_all {
        width: 100%;
    }

    .right-container {
        width: 1100px;
        padding: 0px;
        margin: auto;
    }
}

@media screen and (max-width: 795px){
    header, #gradient {
        height: 500px;
    }

    .title_container img {
        width: 300px;
    }
    .container {
        max-width: none;
        width: 100%;
    }

    .top {
        justify-content: space-between;
        align-items: center;
        padding: 15px;
    }

    .top span {
        display: block;
        cursor: pointer;
    }

    .left-container {
        display: none;
        position: absolute;
        background: var(--cor_bg01) url('../imagens/paper-texture.jpg') no-repeat center center;
        width: 20%;
        height: 1080px;
        padding-left: 10px;
        border-right: 2px solid var(--cor_bg02);
    }

    .category_buttons > span {
        font-size: 1.35em;
    }
    
    .right-container {
        width: 300px;
        padding: 0px;
        margin: auto;
    }

    .all {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
    }

    button.card-monster {
        height: 300px;
        width: 230px;
    }

    div.monster-name div strong {
        font-size: 1.25em;
    }
}