@charset "UTF-8";

:root {
    --cor_bg01: #FDEDCC;
    --cor_bg02: #BF9B7A;
    --cor_highlight: #E5532A;
    --cor_letter: #F2BB16;
    --cor_green: #BDF496;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    list-style: none;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: var(--cor_bg01);
}

button.card-monster {
    position: relative;
    background-color: var(--cor_bg01);
    border: none;
    border-radius: 7%;
    width: 300px;
    height: 340px;
    margin: 20px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.301);
}

div.image {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 200px;
    height: 200px;
    transform: translate(-50%, -50%);
}

div.image img {
    width: 185px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.monster-name {
    position: relative;
    display: flex;
    margin: 0;
    padding: 0px 15px;
    top: 40%;
    width: 280px;
    height: 70px;
}

div.monster-name .icon {
    position: absolute;
    top: 15%;
    left: 85%;
    width: 40px;
    height: 50px;
}

div.monster-name .icon > img {
    width: 38px;
}

div.monster-name div {
    position: absolute;
    width: 205px;
    top: 35%;
    left: 0%;
    text-align: left;
}

div.monster-name div strong {
    position: relative;
    left: 15%;
    font-size: 1.5em;

}

button.card-monster:hover {
    transform: translate(0%, -1%);
    cursor: pointer;
    box-shadow: 0px 5px 20px 1px rgba(0, 0, 0, 0.342);
}