@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --cor_bg01: #FDEDCC;
    --cor_bg02: #BF9B7A;
    --cor_highlight: #E5532A;
    --cor_letter: #F2BB16;
    --cor_green: #c6f5a5;
    /*--cor_green: #93ff47;*/
    --cor_green_highlight: #93ff47;
    /*--cor_green_highlight: #88d452;*/
    --fonte_mhw: 'Gelasio', serif;
    --fonte_regular: 'Istok Web', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    list-style: none;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: var(--cor_bg01);
    font-family: var(--fonte_regular);
}

/* Start button style */

.right-container {
    width: 80vw;
}

button.card-monster {
    position: relative;
    background-color: var(--cor_bg01);
    border: none;
    border-radius: 7%;
    width: 300px;
    height: 340px;
    margin: 20px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.096);
}

div.image {
    position: absolute;
    justify-content: flex-end;
    top: 40%;
    left: 50%;
    width: 200px;
    height: 200px;
    transform: translate(-50%, -50%);
}

div.image img {
    width: 185px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.monster-name {
    position: relative;
    display: flex;
    margin: 0;
    padding: 0px 15px;
    top: 40%;
    width: 100%;
    height: 70px;
}

div.monster-name .icon {
    position: absolute;
    top: 15%;
    left: 78%;
    width: 40px;
    height: 50px;
}

div.monster-name .icon > img {
    width: 38px;
}

div.monster-name div {
    position: absolute;
    width: 205px;
    top: 35%;
    left: 0%;
    text-align: left;
}

div.monster-name div strong {
    position: relative;
    left: 15%;
    font-family: var(--fonte_mhw);
    font-weight: bolder;
    font-size: 1.5em;

}

button.card-monster:hover {
    transform: translate(0%, -1%);
    cursor: pointer;
    box-shadow: 0px 5px 20px 10px var(--cor_green), inset 0px 0px 20px 5px var(--cor_green);
    border: 3px solid var(--cor_green_highlight);
}

/* End Button Style */

/* Start modal Style */

.modal_container {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    width: 100vw;
    height: 100vh;
}

.modal-container .show {
    pointer-events: auto;
    opacity: 1;
}

.overlay {
    background-color: #94ff476c;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.modal {
    background-color: var(--cor_bg01);
    display: flex;
    position: relative;
    width: 940px;
    height: 700px;
    border-radius: 30px;
}

.close {
    background-color: var(--cor_bg01);
    position: relative;
    margin-top: 10px;
    left: 55%;
    height: 20px;
    width: 20px;
    border: none;
}

.modal_lcontainer {
    background-color: var(--cor_bg02);
    display: flex;
    align-items: center;
    width: 270px;
    height: 100%;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
}

.img_modal {
    position: relative;
    right: 60%;
    width: 550px;
}

.modal_rcontainer {
    background-color: red;
    margin: auto;
    margin-right: 35px;
    width: 530px;
    height: 610px;
}

.name {
    display: flex;
}

.name h3 {
    font-family: var(--fonte_mhw);
    font-weight: 700;
    font-size: 2em;
}