@charset "UTF-8";

:root {
    --cor_bg01: #FDEDCC;
    --cor_bg02: #BF9B7A;
    --cor_highlight: #E5532A;
    --cor_letter: #F2BB16;
    --cor_green: #BDF496;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor_bg02);
}

img {
    width: 110px;
}

div.icon > img {
    width: 30px;
}

.card-monster {
    bottom: 0;
    border: none;
    max-width: 100%;
    height: 45vh;
    width: 35vh;
    background-color: var(--cor_bg01);
    border-radius: 5%;
    box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.251);
}

.card-monster .image {
    position: relative;
    background-color: #BDF496;
    width: 150px;
    height: 150px;
    top: -10%;
    align-items: center;
}
/*
.card-monster img {
    width: 10vw;
}*/