@charset "UTF-8";
@import url("./keyframe.css");

:root {
  font-size: 62.5%;
  --gradient-color-green: #94ff4728;
  --color-green: #94ff47bb;
  --gradient-color-blue: #4082de28;
  --gray-color: rgba(131, 128, 130, 0.664);
  --gray-border: rgba(131, 128, 130, 0.356);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: animation 200ms;
}

html,
body {
  width: 100vw;
  height: 100vh;

  min-width: 31rem;
  min-height: 700rem;

  overflow-x: hidden;
}

/*classes utilitárias=====================*/
.showFilter {
  display: flex;
}

.hideFilter {
  display: none;
}

.grid {
  display: grid;
}

.sr-only {
  position: absolute;
  width: 0.1rem;
  height: 0.1rem;
  padding: 0;
  margin: -0.1rem;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;

  background: radial-gradient(circle, transparent 0%, var(--gray-color) 100%);
}

/* Estilo do header ---------------------------------------------------------------------------------------- */

header {
  min-height: 70rem;
  padding-inline: 1rem;
  align-items: center;

  animation: background-change 10s linear 1s infinite alternate backwards;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  position: relative;
  overflow: hidden;
}

header::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;

  animation: gradient-change 10s linear 1s infinite alternate backwards;
}

header img {
  width: 63.9rem;
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header img:nth-child(1) {
  animation: vanilla-logo 10s linear 1s infinite alternate backwards;
}

header img:nth-child(2) {
  animation: iceborne-logo 10s linear 1s infinite alternate backwards;
}

/* Estilo do main ----------------------------------------- */

main {
  padding-top: 5rem;
}

main section {
  max-width: fit-content;
  margin: auto;
}

button,
input,
li {
  all: unset;
}

section > .top {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-inline: 2rem 6rem;
}

.top > i {
    display: none;
    font-size: 3rem;
    cursor: pointer;
}

section .top form {
  display: flex;
  align-items: center;
  gap: 1rem;
  overflow: hidden;

  height: 3.5rem;
  padding-inline: 1rem;

  border: 0.1rem solid var(--gray-color);
  border-radius: 999rem;
}

/* clears the ‘X’ from Internet Explorer */
input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

form > input {
  height: 100%;
}

form > input::placeholder {
  font-size: 1.4rem;
}

section .content-wrapper {
  display: flex;

  margin-top: 5rem;
}

.select {
  border-right: 0.1rem solid var(--gray-border);
}

ul {
  display: grid;
  grid-template-columns: 1fr;

  padding-inline: 2rem;
}

li {
  width: 18rem;
  padding: 0.8rem;

  /* text-align: left; */
  font-weight: 500;
  font-size: 2rem;
  cursor: pointer;

  transition: transform 0.3s ease-out, box-shadow 0.2s ease-out;
}

li:hover {
  transform: translate(-5%, -3%);
  box-shadow: 0.3rem 0.3rem 1.5rem var(--color-green);
}

.content {
  padding-inline: 6rem;
  width: 86.742rem;
  min-height: 66rem;
}

.button-container {
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
}

/* Botões ============== */

.monster-button {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;

  padding: 2rem;

  border-radius: 3rem;
  box-shadow: 0rem 0.1rem 0.5rem var(--gray-color);
  cursor: pointer;

  animation: button-load 0.5s ease-out 0s 1 normal none;

  transition: transform 0.3s ease-out, box-shadow 0.2s ease-out;
}

.button-container button:hover,
.load-more > p:hover {
  transform: translate(-1%, -1%);
  box-shadow: 0.3rem 0.3rem 1.5rem var(--color-green);
}

.monster-button > .top {
  display: flex;
  justify-content: center;
  width: 100%;
}

.monster-button > .top img {
  height: 13rem;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

.load-more {
  text-align: center;
  margin-top: 5.5rem;
}

.load-more > p {
  display: inline-block;
  padding: 0.8rem;
  border-radius: 1rem;

  cursor: pointer;
  transition: transform 0.3s ease-out, box-shadow 0.2s ease-out;
}

/* Footer======================== */

footer {
  border-top: 0.1rem solid var(--gray-border);
  margin-top: 9rem;
  padding: 5rem;
}

footer > section {
  gap: 1.5rem;
}

.link-wrapper {
  display: flex;
  gap: 1.5rem;
}

footer > section img {
  width: 4rem;
}

/* ===================Media Querie ======================= */

@media (max-width: 1028px) {
  header img {
    width: 70vw;
  }
  .button-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 835px) {
  body {
    -webkit-tap-highlight-color: transparent;
  }
  .content-wrapper {
    flex-direction: column;
  }

  section > .top {
    justify-content: space-between;
    gap: .8rem;
    padding: 0;
  }

  .top > i {
    display: inline;
  }

  .select {
    display: none;
    border-right: 0;
    border-top: 0.1rem solid var(--gray-border);
    border-bottom: 0.1rem solid var(--gray-border);

    margin-bottom: 2.5rem;
  }

  ul {
    padding: 0;
    justify-items: center;
  }

  li {
    text-align: center;
    width: 100%;
    padding: 1.2rem;
  }

  .content {
      width: 100%;
      padding: 0;
  }

  .button-container {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .monster-button {
    width: 25rem;
  }
}

@media (max-width: 390px) {
  .monster-button {
    width: 15rem;
  }
}