@charset "UTF-8";
@import url("./keyframe.css");

:root {
  font-size: 62.5%;
  --gradient-color-green: #94ff4728;
  --color-green: #94ff47bb;
  --gradient-color-blue: #4082de28;
  --gray-color: rgba(131, 128, 130, 0.664);
  --gray-color-solid: rgb(131, 128, 130);
  --gray-border: rgba(131, 128, 130, 0.356);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: animation 200ms;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
body {
  scrollbar-width: auto;
  scrollbar-color: white transparent;
}
/* Chrome, Edge, and Safari */
body::-webkit-scrollbar {
  width: 1rem;
}
body::-webkit-scrollbar-track {
  background: transparent;
}
body::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 1rem;
  border: .4rem solid white;
}

html,
body {
  width: 100vw;
  height: 100vh;

  min-width: 31rem;
  min-height: 70rem;

  overflow-x: hidden;
}

/*classes utilitárias=====================*/
.showFilter {
  display: flex;
}

.hideFilter {
  display: none;
}

.grid {
  display: grid;
}

.sr-only {
  position: absolute;
  width: 0.1rem;
  height: 0.1rem;
  padding: 0;
  margin: -0.1rem;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.sr-only {
  position: absolute;
  width: .1rem;
  height: .1rem;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;

  background: radial-gradient(circle, transparent 0%, var(--gray-color) 100%);
}

/* Estilo do header ---------------------------------------------------------------------------------------- */

header {
  min-height: 70rem;
  padding-inline: 1rem;
  align-items: center;

  animation: background-change 10s linear 1s infinite alternate backwards;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  position: relative;
  overflow: hidden;
}

header::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;

  animation: gradient-change 10s linear 1s infinite alternate backwards;
}

header img {
  width: 63.9rem;
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header img:nth-child(1) {
  animation: vanilla-logo 10s linear 1s infinite alternate backwards;
}

header img:nth-child(2) {
  animation: iceborne-logo 10s linear 1s infinite alternate backwards;
}

/* Estilo do main ----------------------------------------- */

main {
  padding-top: 5rem;
}

main section {
  max-width: fit-content;
  margin: auto;
}

button,
input,
li {
  all: unset;
}

section > .top {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-inline: 2rem 6rem;
}

.top > i {
    display: none;
    font-size: 3rem;
    cursor: pointer;
}

section .top form {
  display: flex;
  align-items: center;
  gap: 1rem;
  overflow: hidden;

  height: 3.5rem;
  padding-inline: 1rem;

  border: 0.1rem solid var(--gray-color);
  border-radius: 999rem;
}

/* clears the ‘X’ from Internet Explorer */
input[type="text"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type="text"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
/* clears the ‘X’ from Chrome */
input[type="text"]::-webkit-search-decoration,
input[type="text"]::-webkit-search-cancel-button,
input[type="text"]::-webkit-search-results-button,
input[type="text"]::-webkit-search-results-decoration {
  display: none;
}

form > input {
  height: 100%;
}

form > input::placeholder {
  font-size: 1.4rem;
}

section .content-wrapper {
  display: flex;

  margin-top: 5rem;
}

.select {
  border-right: 0.1rem solid var(--gray-border);
}

ul {
  display: grid;
  grid-template-columns: 1fr;

  padding-inline: 2rem;
}

li {
  width: 18rem;
  padding: 0.8rem;

  /* text-align: left; */
  font-weight: 500;
  font-size: 2rem;
  cursor: pointer;

  transition: transform 0.3s ease-out, box-shadow 0.2s ease-out;
}

li:hover {
  transform: translate(-5%, -3%);
  box-shadow: 0.3rem 0.3rem 1.5rem var(--color-green);
}

.content {
  padding-inline: 6rem;
  width: 86.742rem;
  min-height: 66rem;
}

.button-container {
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
}

/* Botões ============== */

.monster-button {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;

  padding: 2rem;

  border-radius: 3rem;
  box-shadow: 0rem 0.1rem 0.5rem var(--gray-color);
  cursor: pointer;

  animation: button-load 0.5s ease-out 0s 1 normal none;

  transition: transform 0.3s ease-out, box-shadow 0.2s ease-out;
}

.button-container button:hover,
.load-more > p:hover {
  transform: translate(-1%, -1%);
  box-shadow: 0.3rem 0.3rem 1.5rem var(--color-green);
}

.monster-button > .top {
  display: flex;
  justify-content: center;
  width: 100%;
}

.monster-button > .top img {
  height: 13rem;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

.load-more {
  text-align: center;
  margin-top: 5.5rem;
}

.load-more > p {
  display: inline-block;
  padding: 0.8rem;
  border-radius: 1rem;

  cursor: pointer;
  transition: transform 0.3s ease-out, box-shadow 0.2s ease-out;
}

/* Footer======================== */

footer {
  border-top: 0.1rem solid var(--gray-border);
  margin-top: 9rem;
  padding: 5rem;
}

footer > section {
  gap: 1.5rem;
}

.link-wrapper {
  display: flex;
  gap: 1.5rem;
}

footer > section img {
  width: 4rem;
}

/* ===================Media Querie ======================= */

@media (max-width: 1028px) {
  header img {
    width: 70vw;
  }
  .button-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 835px) {
  body {
    -webkit-tap-highlight-color: transparent;
  }
  .content-wrapper {
    flex-direction: column;
  }

  section > .top {
    justify-content: space-between;
    gap: .8rem;
    padding: 0;
  }

  .top > i {
    display: inline;
  }

  .select {
    display: none;
    border-right: 0;
    border-top: 0.1rem solid var(--gray-border);
    border-bottom: 0.1rem solid var(--gray-border);

    margin-bottom: 2.5rem;
  }

  ul {
    padding: 0;
    justify-items: center;
  }

  li {
    text-align: center;
    width: 100%;
    padding: 1.2rem;
  }

  .content {
      width: 100%;
      padding: 0;
  }

  .button-container {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .monster-button {
    width: 25rem;
  }

  .modal_wrapper {
    scrollbar-width: auto;
    scrollbar-color: rgb(192, 192, 192) transparent;
  }
  /* Chrome, Edge, and Safari */
  .modal_wrapper::-webkit-scrollbar {
    width: .8rem;
  }

  .modal_wrapper::-webkit-scrollbar-track {
    background: transparent;
  }

  .modal_wrapper::-webkit-scrollbar-thumb {
    background-color: rgb(192, 192, 192);
    border-radius: 1rem;

  }

  .modal_wrapper {
    flex-direction: column !important;
    border-radius: 0rem !important;
    height: 100% !important;
    overflow-y: scroll;
  }

  .modal_wrapper .left_container {
    display: grid !important;
    gap: 1rem !important;
    padding-top: 5rem !important;
  }

  .image-container {
    display: flex;
    justify-content: center;
  }

  .left_container img{
    width: 100% !important;
    object-fit: contain !important;
  }

  .close_button_phone {
    display: flex !important;
    justify-content: flex-end !important;
    padding: 1rem;
    position: fixed;
    width: 100% !important;
  }

  .close-button.computer {
    display: none !important;
  }

  .right_container .middle {
    overflow-y: visible !important;
  }
}

@media (max-width: 390px) {
  .monster-button {
    width: 15rem;
  }
}

/* =================== Modal ======================= */

/* ===== Scrollbar CSS ===== */
/* Firefox */
.middle {
  scrollbar-width: auto;
  scrollbar-color: rgb(192, 192, 192) transparent;
}
/* Chrome, Edge, and Safari */
.middle::-webkit-scrollbar {
  width: .8rem;
}

.middle::-webkit-scrollbar-track {
  background: transparent;
}

.middle::-webkit-scrollbar-thumb {
  background-color: rgb(192, 192, 192);
  border-radius: 1rem;
  
}

.modal_background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: rgba(150, 150, 150, 0.4);
  backdrop-filter: blur(1rem);
  -webkit-backdrop-filter: blur(1rem);

  display: grid;
  place-content: center;
}

/* .show-modal {
  opacity: 1;
  pointer-events: all;
} */

.modal_wrapper {
  background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgb(131, 128, 130) 100%);
  border-radius: 2rem;

  max-width: 1000px;
  height: 60rem;
  display: flex;
}

.left_container {
  border-right: .1rem solid rgba(131, 128, 130, 0.397);
  padding: 2rem;

  display: flex;
  align-content: center;
  flex-wrap: wrap;
}

.left_container img{
  width: 40rem;
}

.right_container {
  padding: 2rem;
}

.modal_wrapper .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.6rem;
}

.right_container .middle {
  display: grid;
  gap: 1.6rem;
  height: calc(100% - 6.3rem);
  padding-right: .8rem;
  overflow-y: auto;
}

.table_wrapper {
  display: grid;
  gap: 1.6rem;
}

th, .stars_rank, td:has(img){
  text-align: center;
}

td:has(img) img {
  width: 1.8rem;
}

.stars_rank > div {
  margin-bottom: .5rem;
}

.stars_rank > i {
  color: #f0ff24;
}

th, td {
  border: .1rem solid rgba(131, 128, 130, 0.397);
  border-radius: .5rem;
  padding: 1rem;
}

.close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 999rem;


  cursor: pointer;
  transition: transform 0.3s ease-out, box-shadow 0.2s ease-out;
}

.close-button > i {
  font-weight: 700;
  transition: color 0.2s ease-out;
}

.close-button:hover > i {
  color: var(--color-green);
}

.close-button:hover {
  transform: translate(-1%, -1%);
  box-shadow: 0rem 0rem 1.5rem var(--color-green);
}

.close_button_phone {
  display: none;
}